name: Deploy MkDocs Page with Mike

on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: https://open-ev-data.github.io
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Fetch gh-pages Branch
        run: |
          git fetch origin gh-pages --depth=1 || echo "gh-pages branch does not exist yet"
          git branch gh-pages origin/gh-pages 2>/dev/null || echo "Creating new gh-pages branch"

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Poetry
        run: pip install poetry

      - name: Install Dependencies
        run: poetry install --no-root

      - name: Extract Version
        id: version
        run: |
          TAG=${GITHUB_REF##*/}
          VERSION=$(echo $TAG | sed -E 's/^v([0-9]+\.[0-9]+)\.[0-9]+$/\1.x/')
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "Deploying version: $VERSION"

      - name: Deploy MkDocs using Mike
        env:
          GOOGLE_ANALYTICS_KEY: ${{ secrets.GOOGLE_ANALYTICS_KEY }}
        run: |
          poetry run mike delete dev || true
          poetry run mike delete latest || true
          poetry run mike deploy --update-aliases ${VERSION} latest
          poetry run mike set-default latest
          git push origin gh-pages


